:root {
    --mainMargin: 2em;
    --feedItemLength: 100px;
    --feedImgMargin: 20px;
    --twentyPercent: 20%;
    --shadowColor: #333143;
    --headerBackground: #0e213a;
    --headerFontColor: white;
    --headerFontSize: 7vw;
    --navBackground: #364254;
    --bodyFontColor: #0d0107;
    --primaryBackground: #c1b4b4;
    --secondaryBackground: #d3caca;
    --tertiaryBackground: #c7bbbb;
    --headerIconPadding: calc(var(--headerFontSize) / 4);
    --requiredColor: red;
    --headerShadow: .3em;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primaryBackground);
    color: var(--bodyFontColor);
}

a {
    text-decoration: none;
    color: var(--headerFontColor);
    cursor: pointer;
}
a:visited {
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--headerFontColor);
    z-index: 1;
    box-shadow: 0 var(--headerShadow) var(--headerShadow) var(--shadowColor);
}
header h1 {
    margin: 0;
    background-color: var(--headerBackground);
    color: var(--headerFontColor);
    font-size: var(--headerFontSize);
    font-family: "Playfair Display";
    font-style: italic;
}

nav ul {
    --navs: 6;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--navs), calc(100% / var(--navs)));
    padding-left: 0;
    margin: 0;
    padding: 1em 0;
    background-color: var(--navBackground);
}
#feedWrapper a, #feedWrapper a:visited {
    color: var(--bodyFontColor);
}
nav ul li {
    flex-grow: 1;
}
.dropdownInner {
    display: none;
    position: absolute;
    background-color: var(--shadowColor);
}
.dropdownInner li {
    width: 20vw;
}
.dropdownOuter:hover .dropdownInner  {
    display: block;
}
.mobileIcon {
    cursor: pointer;
}

#searchContainer {
    display: block;
    text-align: end;
    position: absolute;
    right: 0;
}
#searchContainer img {
    display: none;
    height: calc(var(--headerFontSize) / 2);
    padding: var(--headerIconPadding);
    cursor: pointer;
} 
#searchContainer ul, #searchContainer #searchBar {
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
#searchContainer ul {
    text-align: left;
    background-color: var(--navBackground);
}
#searchContainer.change ul, #searchContainer.change #searchBar {
    display: block;
    position: relative;

    /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
    -webkit-animation: slideDown .4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: slideDown .4s; /* Firefox < 16 */
        -ms-animation: slideDown .4s; /* Internet Explorer */
         -o-animation: slideDown .4s; /* Opera < 12.1 */
            animation: slideDown .4s;
}
@keyframes slideDown {
    from {
        opacity: 0;
        top: -1em;
    }
    to {
        opacity: 1;
        top: 0;
    }
}   
/* Firefox < 16 */
@-moz-keyframes slideDown {
    from {
        opacity: 0;
        top: -1em;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
/* Safari, Chrome, and Opera > 12.1 */
@-webkit-keyframes slideDown {
    from {
        opacity: 0;
        top: -1em;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
/* Internet Explorer */
@-ms-keyframes slideDown {
    from {
        opacity: 0;
        top: -1em;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
/* Opera < 12.1 */
@-o-keyframes slideDown {
    from {
        opacity: 0;
        top: -1em;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

main {
    z-index: 0;
    padding: 0 var(--mainMargin);
    padding-top: var(--mainMargin);
}
.grid8020 {
    padding-top: 0;
    display: grid;
    grid-template-columns: 80% var(--twentyPercent);
}

#feedWrapper {
    position: relative;
}
#feed {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    mask-image: linear-gradient(180deg, var(--primaryBackground) 90%, transparent);
    scrollbar-width: none;
}
#feed1 {
    margin-bottom: 10%;
}
#backToTop {
    position: absolute;
    bottom: 5px;
    right: .5em;
    background-color: var(--tertiaryBackground);
    border-radius: 10px;
    padding: 5px;
    margin-right: 1em;
}
#backToTop:hover {
    background-color: var(--shadowColor);
    color: white !important;    
}
.feedItem {
    min-height: var(--feedItemLength);
    margin: 1em;
    box-shadow: -.2em .2em .2em var(--shadowColor);
    background-color: var(--secondaryBackground);
}
.feedItem h2 {
    margin-bottom: 0;
}
.feedItem h3 {
    margin-top: 0;
}
.feedItemContent {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;
    margin-left: 0;
}
.feedItemContent a {
    align-self: flex-end;
}
.feedImgPiece {
    flex-flow: row nowrap;
    align-items: center;
    display: grid;
    grid-template-columns: calc(var(--feedItemLength) + 2 * var(--feedImgMargin)) auto;
    grid-template-rows: auto auto;
}
.feedImgPiece img {
    max-height: var(--feedItemLength);
    max-width: var(--feedItemLength);
    margin: var(--feedImgMargin);
    box-shadow: 0 .2em .2em var(--shadowColor);
    grid-row-end: span 2;
}
.feedUpdate h3 {
    font-weight: normal;
}
.feedPiece h2, .feedPiece h3, .feedUpdate h2, .feedUpdate h3, .feedDeadline h2, .feedDeadline h3 {
    padding-left: var(--feedImgMargin);
}
.feedPiece p, .feedUpdate p, .feedDeadline p {
    padding-left: 2em;
}
#goals {
    margin-bottom: 1em;
}
#mailingListForm {
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    max-width: calc(var(--twentyPercent) - var(--mainMargin));
}
#mailingListForm input {
    max-width: 100%;
}

#homeRight, .issueNav {
    padding: 1em;
    background-color: var(--tertiaryBackground);
    margin-top: 1em;
}

#menuIcon {
    display: none;
}

#submissionPopUp {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 1em 0;
    text-align: center;
    background-color: var(--tertiaryBackground);

    /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity: 0;
        bottom: -100vh;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}   
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
        bottom: -100vh;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}
/* Safari, Chrome, and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
        bottom: -100vh;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
        bottom: -100vh;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
        bottom: -100vh;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}
#exitIcon {
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
    text-align: end;
    cursor: pointer;
}

.button, input[type="file"]::-webkit-file-upload-button {
    border-radius: .2em;
    background-color: var(--navBackground);
    padding: 1em;
    color: var(--headerFontColor) !important;
    font-weight: bold;
    cursor: pointer;
}
.button:hover, input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--tertiaryBackground);
}
#submissionForm {
    margin-left: 30%;
    font-size: large;
}
.submissionField {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}
.submissionField label {
    width: fit-content;
}
.submissionField input, .submissionField textarea, .submissionField select {
    max-width: 50%;
}

.verticalAlign {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.featuredWorks, #featuredIssues {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.featuredWork, .featuredIssue {
    background-color: var(--secondaryBackground);
    margin: 5% 10%;
    transition: margin .5s;
    aspect-ratio: 2 / 1;
    text-align: center;
}
.featuredWork, .featuredIssue {
    visibility: hidden;
}
.featuredWork a, .featuredIssue a {
    position: absolute;
    padding: 1em;
    background-color: var(--tertiaryBackground);
}
.featuredWork:hover, .featuredIssue:hover {
    margin: 5%;
    transition: margin .5s;
}
/* https://stackoverflow.com/questions/22808040/fading-out-text-on-overflow-with-css-if-the-text-is-bigger-than-allowed */
.featuredWork .preview, .featuredIssue .preview {
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
}
.featuredWork .textPreview p {
    margin: 0;
    text-align: justify;
    text-overflow: ellipsis;
}
.featuredWork .textPreview img {
    display: none;
}
.featuredWork .imgPreview img, .featuredIssue .preview img {
    min-width: 100%;
    min-height: 100%;
    transition: transform 2s;
}
.featuredWork:hover .imgPreview img, .featuredIssue:hover .preview {
    transform: translate(-50%, -50%);
    transition: transform 2s;
}
.issueNav {
    list-style-type: none;
}
#backToTopIssue {
    position: fixed;
    bottom: 5px;
    right: .5em;
    background-color: var(--secondaryBackground);
    border-radius: 10px;
    padding: 5px;
    margin-right: 1em;
}
#backToTopIssue:hover {
    background-color: var(--shadowColor);
    color: white !important;    
}

.piece {
    padding-top: var(--mainMargin);
}
.piece img {
    max-width: 100%;
    max-height: 100vh;
}
.share img {
    margin: 1em;
    height: 2em;
}

#addedTags li {
    display: inline;
    padding: .3em;
    border-radius: 1em;
    cursor: pointer;
    margin: .3em;
    background-color: white;
}
#addedTags li:hover {
    background-color: lightgray;
}
.required {
    color: var(--requiredColor);
}

.teamMember {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(3, auto);
}
.teamPic {
    --padding: 1em;
    width: calc(100% - var(--padding) * 2);
    grid-row: 1 / 4;
    padding: var(--padding);
}

summary {
    margin: 0.3em 0 0.8em 0;
    list-style: none;
}
details {
    margin-bottom: 1em;
}
details[open] {
    margin-bottom: 2em;
}
details h2 {
    display: inline;
}
summary::-webkit-details-marker, summary::marker {
    display: none;
}
details .chevron {
    display: inline;
    transition: transform .5s;
    cursor: pointer;
}
details[open] .chevron {
    transition: transform .5s;
    transform: rotateX(180deg);
}
details p {
    margin-left: 5em;
}
            
@media only screen and (max-width: 600px) {
    header {
        box-shadow: 0 var(--headerShadow) calc(var(--headerShadow) / 2) var(--shadowColor);
    }
    nav {
        position: absolute;
    }

    /* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
    #menuIcon {
        --barHeight: calc(var(--headerFontSize) / 7);
        cursor: pointer;
        display: inline-block;
        position: absolute;
        left: 0;
        padding: 0 var(--headerIconPadding);
    }
    .bar1, .bar2, .bar3 {
        width: calc(var(--barHeight) * 5);
        height: var(--barHeight);
        transition: transform 0.4s, opacity 0.4s;
        background-color: var(--headerFontColor);
        margin: var(--barHeight) 0;
    }  
    /* Rotate first bar */
    #menuIcon.change .bar1 {
        transform: translate(0, calc(var(--barHeight) * 2)) rotate(-45deg);
    }  
    /* Fade out the second bar */
    #menuIcon.change .bar2 {opacity: 0;}  
    /* Rotate last bar */
    #menuIcon.change .bar3 {
        transform: translate(0, calc(var(--barHeight) * -2)) rotate(45deg);
    }
    nav ul {
        --navs: calc(var(--navs) - 1);
        display: none;
        /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
        -webkit-animation: slideDown .4s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: slideDown .4s; /* Firefox < 16 */
            -ms-animation: slideDown .4s; /* Internet Explorer */
             -o-animation: slideDown .4s; /* Opera < 12.1 */
                animation: slideDown .4s;
    }
    nav ul li {
        padding: .2em;
    }
    nav.change ul {
        display: block;
        position: relative;
    }
    .change .dropdownInner, .dropdownOuter:hover .dropdownInner  {
        display: none;
    }
    .mobileIcon {
        display: none;
    }

    #searchContainer img {
        display: inline-block;
    }

    main {
        padding: 0;
    }
    .grid8020 {
        display: block;
    }

    #feed {
        height: auto;
        overflow-y: auto;
    }
    .feedImgPiece img {
        grid-row-end: span 1;
    }
    .feedImgPiece .feedItemContent {
        grid-column-end: span 2;
        margin-left: 1em;
    }
    #backToTop:hover {
        background-color: var(--tertiaryBackground);
        color: var(--bodyFontColor) !important;
    }

    #homeRight {
        margin-top: 0;
        box-shadow: 0 0 .3em var(--shadowColor);
    }
    #mailingListForm {
        position: static;
        padding: 0;
        max-width: 100%;
    }

    #submissionForm {
        margin-left: 0;
    }
    .submissionField input, .submissionField textarea, .submissionField select {
        max-width: 100%;
    }

    .issueNav {
        display: none;
    }
    .featuredWorks {
        display: block;
    }
    #backToTopIssue {
        background-color: var(--tertiaryBackground);
    }

    .teamMember {
        grid-template-columns: 50% 50%;
    }
    .teamPic {
        grid-row-end: 1;
    }
    .teamBio, .teamWorks {
        grid-column: 1 / 3;
    }
}

/* https://stackoverflow.com/questions/50840168/how-to-detect-if-the-os-is-in-dark-mode-in-browsers */
@media (prefers-color-scheme: dark) {
    :root {
        --shadowColor: #050d17;
        --headerBackground: #07101d;
        --headerFontColor: white;
        --navBackground: #091728;
        --bodyFontColor: white;
        --primaryBackground: #1d0d2c;
        --secondaryBackground: #60556b;
        --tertiaryBackground: #4a3d56;
        --requiredColor: pink;
    }
    .darkMode {
        filter: invert(1);
    }
}