body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    text-align: center;
}
header h1 {
    margin: 0;
    background-color: #92B2A8;
    color: white;
    font-size: 4em;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding-left: 0;
    border: solid 1px black;
    margin-top: 0;
    box-shadow: 0 .3em .3em #999E9C;
}
nav ul li {
    flex-grow: 1;
}
.dropdownInner {
    display: none;
    position: absolute;
}
.dropdownInner li {
    width: 20vw;
}
.dropdownOuter:hover .dropdownInner  {
    display: block;
}

#homeRight {
    border: solid 1px black;
}

.issue {    
    display: grid;
    grid-template-columns: 80% 20%;
}
.issueNav {
    grid-column: 2;
}
.menuIcon {
    display: none;
}
.issueNav ul {
    border: solid 1px black;
}
.featuredWorks {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column: 1;
}
.featuredWork {
    border: solid 1px black;
    margin: 5% 10%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em 10px;
}
            
@media only screen and (max-width: 600px) {
    header {
        position: sticky;
        top: 0;
    }
    header h1 {
        font-size: 2em;
    }
    nav {
        position: absolute;
        background-color: white;
    }
    .menuIcon {
        cursor: pointer;
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
    }
    .menuIconLine {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 3px 0;
    }
    nav ul {
        display: none;
    }
    header:hover nav ul {
        display: block;
    }
    header:hover .dropdownInner, .dropdownOuter:hover .dropdownInner {
        display: none;
    }

    .issue {
        display: block;
    }
    .issueNav {
        display: none;
    }
    .featuredWorks {
        display: block;
    }
}