:root {
    --mainMargin: 2em;
    --feedItemLength: 100px;
    --feedImgMargin: 20px;
    --twentyPercent: 20%;
    --shadowColor: #333143;
    --headerBackground: #0e213a;
    --headerFontColor: white;
    --navBackground: #364254;
    --bodyFontColor: #0d0107;
    --primaryBackground: #c1b4b4;
    --secondaryBackground: #d3caca;
    --tertiaryBackground: #c7bbbb;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primaryBackground);
    color: var(--bodyFontColor);
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}

header {
    width: 100%;
    text-align: center;
    color: var(--headerFontColor);
}
header h1 {
    margin: 0;
    background-color: var(--headerBackground);
    color: var(--headerFontColor);
    font-size: 4em;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding-left: 0;
    border: solid 1px var(--bodyFontColor);
    margin: 0;
    box-shadow: 0 .3em .3em var(--shadowColor);
    padding: 1em 0;
    background-color: var(--navBackground);
}
#feedWrapper a, #feedWrapper a:visited {
    color: var(--bodyFontColor);
}
nav ul li {
    flex-grow: 1;
}
.dropdownInner {
    display: none;
    position: absolute;
    background-color: var(--shadowColor);
    z-index: 1;
}
.dropdownInner li {
    width: 20vw;
}
.dropdownOuter:hover .dropdownInner  {
    display: block;
}

main {
    margin: var(--mainMargin);
}
.grid8020 {
    display: grid;
    grid-template-columns: 80% var(--twentyPercent);
}

#feedWrapper {
    position: relative;
}
#feed {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
#backToTop {
    position: absolute;
    bottom: 5px;
    right: .5em;
    background-color: var(--tertiaryBackground);
    border: solid var(--bodyFontColor) 1px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 1em;
}
#backToTop:hover {
    background-color: var(--shadowColor);
    color: white !important;    
}
.feedItem {
    border: solid 1px var(--bodyFontColor);
    min-height: var(--feedItemLength);
    margin: 1em;
    box-shadow: -.2em .2em .2em var(--shadowColor);
    background-color: var(--secondaryBackground);
    z-index: 0;
}
.feedItem h2 {
    margin-bottom: 0;
}
.feedItem h3 {
    margin-top: 0;
}
.feedItemContent {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;
    margin-left: 0;
}
.feedItemContent a {
    align-self: flex-end;
}
.feedImgPiece {
    flex-flow: row nowrap;
    align-items: center;
    display: grid;
    grid-template-columns: calc(var(--feedItemLength) + 2 * var(--feedImgMargin)) auto;
    grid-template-rows: auto auto;
}
.feedImgPiece img {
    max-height: var(--feedItemLength);
    max-width: var(--feedItemLength);
    margin: var(--feedImgMargin);
    box-shadow: 0 .2em .2em var(--shadowColor);
    grid-row-end: span 2;
}
.feedUpdate h3 {
    font-weight: normal;
}
.feedPiece h2, .feedPiece h3, .feedUpdate h2, .feedUpdate h3, .feedDeadline h2, .feedDeadline h3 {
    padding-left: var(--feedImgMargin);
}
.feedPiece p, .feedUpdate p, .feedDeadline p {
    padding-left: 2em;
}
#goals {
    margin-bottom: 1em;
}
#mailingListForm {
    margin: 1em 0;
    position: absolute;
    bottom: 0;
}

#homeRight {
    border: solid 1px var(--bodyFontColor);
    padding: 1em;
    background-color: var(--tertiaryBackground);
    margin-top: 1em;
}

.menuIcon {
    display: none;
}

#submissionPopUp {
    position: fixed;
    top: 5vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    align-content: center;
    text-align: center;
    background-color: white;
    border: solid 2px var(--bodyFontColor);
    border-radius: 5vh;

    /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity: 0;
        top: 10vh;
    }
    to {
        opacity: 1;
        top: 5vh;
    }
}   
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
        top: 10vh;
    }
    to {
        opacity: 1;
        top: 5vh;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
        top: 10vh;
    }
    to {
        opacity: 1;
        top: 5vh;
    }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
        top: 10vh;
    }
    to {
        opacity: 1;
        top: 5vh;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
        top: 10vh;
    }
    to {
        opacity: 1;
        top: 5vh;
    }
}
#exitIcon {
    position: absolute;
    top: 5vh;
    right: 5vh;
    cursor: pointer;
}

.issueNav ul {
    border: solid 1px var(--bodyFontColor);
}
.featuredWorks, #featuredIssues {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.featuredWork, .featuredIssue {
    border: solid 1px var(--bodyFontColor);
    margin: 5% 10%;
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.piece img {
    max-width: 100%;
    max-height: 100vh;
}

#addedTags li {
    display: inline;
    border: solid 1px gray;
    padding: .3em;
    border-radius: 1em;
    cursor: pointer;
    margin: .3em;
    background-color: white;
}
#addedTags li:hover {
    background-color: lightgray;
}

.teamPic {
    width: 200px;
}

summary {
    margin: 0.3em 0 0.8em 0;
    list-style: none;
}
details {
    margin-bottom: 1em;
}
details[open] {
    margin-bottom: 2em;
}
details h2 {
    display: inline;
}
summary::-webkit-details-marker, summary::marker {
    display: none;
}
details .chevron {
    display: inline;
    transition: transform .5s;
    cursor: pointer;
}
details[open] .chevron {
    transition: transform .5s;
    transform: rotateX(180deg);
}
details p {
    margin-left: 5em;
}
            
@media only screen and (max-width: 600px) {
    header {
        position: relative;
        top: 0;
    }
    header h1 {
        font-size: 2em;
        box-shadow: 0 .3em .15em var(--shadowColor);
    }
    nav {
        position: absolute;
    }
    main {
        margin: var(--mainMargin) 0 0 0;
    }

    /* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
    .menuIcon {
        cursor: pointer;
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        transition: 0.4s;
        background-color: var(--headerFontColor);
        margin: 3px 0;
    }  
    /* Rotate first bar */
    .menuIcon.change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }  
    /* Fade out the second bar */
    .menuIcon.change .bar2 {opacity: 0;}  
    /* Rotate last bar */
    .menuIcon.change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }
    
    nav ul {
        display: none;
    }
    nav.change ul {
        display: block;
        position: relative;
        z-index: 1;
    }
    .change .dropdownInner, .dropdownOuter:hover .dropdownInner  {
        display: none;
    }

    .grid8020 {
        display: block;
    }

    #feed {
        height: auto;
        overflow-y: auto;
    }
    .feedImgPiece img {
        grid-row-end: span 1;
    }
    .feedImgPiece .feedItemContent {
        grid-column-end: span 2;
        margin-left: 1em;
    }
    #backToTop:hover {
        background-color: var(--tertiaryBackground);
        color: var(--bodyFontColor) !important;
    }

    #homeRight {
        margin-top: 0;
        box-shadow: 0 0 .3em var(--shadowColor);
    }
    #mailingListForm {
        position: static;
        margin: 0;
    }

    .issueNav {
        display: none;
    }
    .featuredWorks {
        display: block;
    }
}

/* https://stackoverflow.com/questions/50840168/how-to-detect-if-the-os-is-in-dark-mode-in-browsers */
@media (prefers-color-scheme: dark) {
    :root {
        --shadowColor: #050d17;
        --headerBackground: #07101d;
        --headerFontColor: white;
        --navBackground: #091728;
        --bodyFontColor: white;
        --primaryBackground: #1d0d2c;
        --secondaryBackground: #60556b;
        --tertiaryBackground: #4a3d56;
    }
}
